<!doctype html>
    <title>Flaskr</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <div class='page'>
        <h1>Flaskr</h1>
        <div class="metanav">
            {% if not session.logged_in %}
                <a href="{{ url_for('login') }}">Connexion</a>
            {% else %}
                <a href="{{ url_for('logout') }}">Déconnexion</a>
            {% endif %}
        </div>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
    </div>